nodered/watson-sockets.json

[
    {
        "id": "44d3407e.89393",
        "type": "websocket in",
        "z": "3432c35f.a87d9c",
        "name": "Socket In",
        "server": "2f280ce6.7dffd4",
        "client": "",
        "x": 200,
        "y": 75.5,
        "wires": [
            [
                "b949df3.290a82"
            ]
        ]
    },
    {
        "id": "1ef90cb5.5b48e3",
        "type": "websocket out",
        "z": "3432c35f.a87d9c",
        "name": "Socket Out",
        "server": "2f280ce6.7dffd4",
        "client": "",
        "x": 390,
        "y": 367.75,
        "wires": []
    },
    {
        "id": "3746183b.12363",
        "type": "http in",
        "z": "3432c35f.a87d9c",
        "name": "/testing IN",
        "url": "/testing",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 274,
        "y": 536.5,
        "wires": [
            [
                "4da942c7.97667c"
            ]
        ]
    },
    {
        "id": "1f817a3d.72c336",
        "type": "http response",
        "z": "3432c35f.a87d9c",
        "name": "/testing OUT",
        "statusCode": "",
        "headers": {},
        "x": 666,
        "y": 532.75,
        "wires": []
    },
    {
        "id": "4da942c7.97667c",
        "type": "template",
        "z": "3432c35f.a87d9c",
        "name": "html & js",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>  \n<meta charset=\"utf-8\" />  \n<html>\n<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";    \n  var ws = new WebSocket(wsUri);\n\n  function wsConnectC0() {\n    \n    ws.onopen = function(ev) {\n      createSystemMessage('[Connected]');\n    };\n\n    ws.onclose = function(ev) {\n      createSystemMessage('[Disconnected]');\n    }\n\n    ws.onmessage = function(ev) {\n\n      console.log(\"server received is\");\n      console.log( ev.data);\n        \n      var payload = JSON.parse(ev.data);\n\n      createUserMessage(\"Watson\", payload.output.text);\n\n      var chat = document.getElementById('chat_box');\n      chat.scrollTop = chat.scrollHeight;\n    }\n\n  }\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var chatMsg = document.getElementById('message');\n\n    var payload = {\n      \"message\": chatMsg.value,\n      \"user\": user.value\n//      ts: (new Date()).getTime()\n    };\n    \n    if ( chatMsg.value) {\n      createUserMessage(user.value,chatMsg.value);\n      ws.send(JSON.stringify(payload));\n      chatMsg.value = \"\";\n    };  \n   }  \n \n\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n\n<body onload=\"wsConnectC0();\" onunload=\"ws.disconnect;\">\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" onkeydown =\"if(event.keyCode==13) { sendMessage(); }\"> />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>",
        "output": "str",
        "x": 464.5,
        "y": 536,
        "wires": [
            [
                "1f817a3d.72c336"
            ]
        ]
    },
    {
        "id": "b949df3.290a82",
        "type": "function",
        "z": "3432c35f.a87d9c",
        "name": "Chat Question",
        "func": "var tmpObj = JSON.parse(msg.payload);\n\nvar msg0 = {\npayload : tmpObj.message,\nuser : tmpObj.user\n};\n\nreturn msg0;",
        "outputs": 1,
        "noerr": 0,
        "x": 273,
        "y": 167,
        "wires": [
            [
                "6d34c9fc.96ca48"
            ]
        ]
    },
    {
        "id": "6d34c9fc.96ca48",
        "type": "watson-conversation-v1",
        "z": "3432c35f.a87d9c",
        "name": "Car-Sample-Conversation",
        "workspaceid": "d3e50587-f36a-4bdf-bf3e-38c382e8d63a",
        "multiuser": true,
        "context": true,
        "default-endpoint": false,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 325,
        "y": 244,
        "wires": [
            [
                "1ef90cb5.5b48e3"
            ]
        ]
    },
    {
        "id": "2f280ce6.7dffd4",
        "type": "websocket-listener",
        "path": "/ws/chat",
        "wholemsg": "false"
    }
]
